streamlit
openai
xai_sdk
requests
pyyaml
pytesseract
pillow
pymupdf
pdfplumber
networkx
pygraphviz
markdown
streamlit-agraph
pandas
PyYAML
wordcloud
matplotlib
pyvis
google-generativeai
pdf2image
easyocr
